<a href="https://colab.research.google.com/github/SurekhaBerlin/NPower-Python-Practices/blob/main/capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the cleaned survey data
df = pd.read_csv("survey_data_updated_new.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18845 entries, 0 to 18844
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 16.4+ MB

In [ ]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,18845.000000,1.346900e+04,12274.000000,12137.000000,12163.000000,12170.000000,12185.000000,12185.000000,12191.000000,12184.000000,12187.000000,12182.000000,9.550000e+03,12111.000000
mean,28819.206315,7.424456e+60,11.620336,20.700606,8.030009,11.988671,25.292684,24.573818,22.860208,17.299167,12.217014,11.357700,8.458970e+04,7.145075
std,17541.596002,8.616528e+62,8.844735,26.962498,19.114522,23.497413,27.500306,27.686252,27.149096,25.901276,24.363271,23.114259,1.173856e+05,1.989114
min,2.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,13747.000000,6.080000e+04,5.000000,0.000000,0.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,3.222200e+04,6.000000
50%,27907.000000,1.150000e+05,10.000000,10.000000,0.000000,0.000000,20.000000,15.000000,15.000000,10.000000,0.000000,0.000000,6.585750e+04,8.000000
75%,43410.000000,2.738400e+05,16.000000,25.000000,6.000000,10.000000,30.000000,30.000000,30.000000,20.000000,10.000000,10.000000,1.100000e+05,8.000000
max,65432.000000,1.000000e+65,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,6.340564e+06,10.000000

In [ ]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

In [ ]:

# Print all column names
print(df.columns.tolist())

['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check', 'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline', 'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'BuildvsBuy', 'TechEndorse', 'Country', 'Currency', 'CompTotal', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired', 'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OpSysPersonal use', 'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired', 'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOHow', 'SOComm', 'AISelect', 'AISent', 'AIBen', 'AIAcc', 'AIComplex', 'AIToolCurrently Using', 'AIToolInterested in Using', 'AIToolNot interested in Using', 'AINextMuch more integrated', 'AINextNo change', 'AINextMore integrated', 'AINextLess integrated', 'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges', 'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering', 'Frustration', 'ProfessionalTech', 'ProfessionalCloud', 'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4', 'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly', 'JobSat']

In [ ]:
# --------------------------
# 2️⃣ Clean the data
# --------------------------

# List of important columns to check for missing values
important_cols = [
    'LanguageHaveWorkedWith',
    'DatabaseHaveWorkedWith',
    'PlatformHaveWorkedWith',
    'WebframeHaveWorkedWith',
    'Age'
]

# Drop rows with missing values in any of these columns
df = df.dropna(subset=important_cols)

# Strip leading/trailing whitespace from all skill columns
skill_cols = important_cols[:-1]  # exclude Age
df[skill_cols] = df[skill_cols].apply(lambda x: x.str.strip())

In [ ]:
# --------------------------
# 3️⃣ Split multi-value columns into separate rows
# --------------------------
def split_column_to_rows(df, column_name, new_name=None):
    """
    Splits a semicolon-separated column into separate rows.

    Parameters:
        df : pandas.DataFrame
            The DataFrame containing the column to split.
        column_name : str
            The name of the column to split.
        new_name : str, optional
            The new name for the split column. If None, defaults to column_name without 'HaveWorkedWith'.

    Returns:
        pandas.DataFrame
            A DataFrame with two columns: 'DeveloperID' and the split values.
    """
    # Determine new column name
    if new_name is None:
        new_name = column_name.replace('HaveWorkedWith','').strip()

    # Split the semicolon-separated values and stack into rows
    split_df = df[column_name].str.split(';', expand=True).stack().reset_index(level=1, drop=True)

    # Reset index and rename columns
    split_df = split_df.reset_index()
    split_df.columns = ['DeveloperID', new_name]

    # Strip extra spaces from values
    split_df[new_name] = split_df[new_name].str.strip()

    return split_df

In [ ]:
# --------------------------
# Top 10 Programming Languages
# --------------------------
languages_df = split_column_to_rows(df, 'LanguageHaveWorkedWith', new_name='Language')

# Count occurrences and get Top 10
top10_languages = languages_df['Language'].value_counts().head(10).reset_index()
top10_languages.columns = ['Language', 'Count']  # Explicitly rename columns

# Save to CSV
top10_languages.to_csv("top10_languages.csv", index=False)

print(top10_languages.head(10))

                  Language  Count
0               JavaScript  14943
1                      SQL  12602
2                 HTML/CSS  12410
3               TypeScript  10709
4                   Python   9590
5  Bash/Shell (all shells)   7244
6                       C#   6340
7                     Java   5982
8                      PHP   4644
9               PowerShell   3438

In [ ]:

# --------------------------
# Top 10 Databases
# --------------------------
databases_df = split_column_to_rows(df, 'DatabaseHaveWorkedWith', new_name='Database')

top10_databases = databases_df['Database'].value_counts().head(10).reset_index()
top10_databases.columns = ['Database', 'Count']  # Explicitly rename columns

top10_databases.to_csv("top10_databases.csv", index=False)
print(top10_databases.head(10))

               Database  Count
0            PostgreSQL  11514
1                 MySQL   8556
2                SQLite   7021
3               MongoDB   5930
4  Microsoft SQL Server   5870
5                 Redis   5814
6               MariaDB   3994
7         Elasticsearch   3491
8              Dynamodb   2268
9                Oracle   1907

In [ ]:
# --------------------------
# Top 10 Platforms
# --------------------------
platforms_df = split_column_to_rows(df, 'PlatformHaveWorkedWith', new_name='Platform')

top10_platforms = platforms_df['Platform'].value_counts().head(10).reset_index()
top10_platforms.columns = ['Platform', 'Count']  # Explicitly rename columns

top10_platforms.to_csv("top10_platforms.csv", index=False)
print(top10_platforms.head(10))

                    Platform  Count
0  Amazon Web Services (AWS)  10871
1            Microsoft Azure   6681
2               Google Cloud   5537
3                 Cloudflare   3874
4              Digital Ocean   3170
5                   Firebase   3025
6                     Vercel   2875
7                     Heroku   2002
8                    Netlify   1662
9                    Hetzner   1392

In [ ]:

# --------------------------
# Top 10 Web Frameworks
# --------------------------
frameworks_df = split_column_to_rows(df, 'WebframeHaveWorkedWith', new_name='Framework')

top10_frameworks = frameworks_df['Framework'].value_counts().head(10).reset_index()
top10_frameworks.columns = ['Framework', 'Count']  # Explicitly rename columns

top10_frameworks.to_csv("top10_frameworks.csv", index=False)
print(top10_frameworks.head(10))

      Framework  Count
0       Node.js   9230
1         React   8999
2        jQuery   4810
3       Express   4408
4       Next.js   4399
5  ASP.NET CORE   4319
6       Angular   4038
7        Vue.js   3642
8       ASP.NET   3094
9   Spring Boot   2916