<a href="https://colab.research.google.com/github/SurekhaBerlin/NPower-Python-Practices/blob/main/customer_insights_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import required libraries
import pandas as pd

In [3]:
# -------------------------------
# 1. Create/load dataset
# -------------------------------
data = {
    "CustomerID": [1001,1002,1003,1001,1004,1002,1005,1003,1006],
    "TransactionID": [5001,5002,5003,5004,5005,5006,5007,5008,5009],
    "Date": ["2025-01-15","2025-02-03","2025-01-22","2025-03-10",
             "2025-01-30","2025-02-15","2025-03-05","2025-02-14","2025-03-15"],
    "ProductCategory": ["Snacks","Beverages","Snacks","Bakery","Beverages",
                        "Snacks","Bakery","Snacks","Beverages"],
    "Sales": [45.20,30.00,120.50,75.00,50.00,60.75,80.00,110.00,25.25],
    "Units": [2,1,5,3,2,3,4,4,1],
    "Region": ["East","West","East","North","South","West","East","North","South"]
}

In [5]:
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
print(df)

   CustomerID  TransactionID       Date ProductCategory   Sales  Units Region
0        1001           5001 2025-01-15          Snacks   45.20      2   East
1        1002           5002 2025-02-03       Beverages   30.00      1   West
2        1003           5003 2025-01-22          Snacks  120.50      5   East
3        1001           5004 2025-03-10          Bakery   75.00      3  North
4        1004           5005 2025-01-30       Beverages   50.00      2  South
5        1002           5006 2025-02-15          Snacks   60.75      3   West
6        1005           5007 2025-03-05          Bakery   80.00      4   East
7        1003           5008 2025-02-14          Snacks  110.00      4  North
8        1006           5009 2025-03-15       Beverages   25.25      1  South

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       9 non-null      int64
 1   TransactionID    9 non-null      int64
 2   Date             9 non-null      datetime64[ns]
 3   ProductCategory  9 non-null      object
 4   Sales            9 non-null      float64
 5   Units            9 non-null      int64
 6   Region           9 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 636.0+ bytes

In [9]:
df.describe()

        CustomerID  TransactionID                 Date       Sales     Units
count     9.000000       9.000000                    9    9.000000  9.000000
mean   1003.000000    5005.000000  2025-02-13 08:00:00   66.300000  2.777778
min    1001.000000    5001.000000  2025-01-15 00:00:00   25.250000  1.000000
25%    1002.000000    5003.000000  2025-01-30 00:00:00   45.200000  2.000000
50%    1003.000000    5005.000000  2025-02-14 00:00:00   60.750000  3.000000
75%    1004.000000    5007.000000  2025-03-05 00:00:00   80.000000  4.000000
max    1006.000000    5009.000000  2025-03-15 00:00:00  120.500000  5.000000
std       1.732051       2.738613                  NaN   33.270116  1.394433

In [10]:
df.columns

Index(['CustomerID', 'TransactionID', 'Date', 'ProductCategory', 'Sales',
       'Units', 'Region'],
      dtype='object')

In [11]:
df.isnull().sum()

CustomerID         0
TransactionID      0
Date               0
ProductCategory    0
Sales              0
Units              0
Region             0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

# Q1: Total sales by ProductCategory

In [14]:
sales_by_category = df.groupby("ProductCategory")["Sales"].sum().reset_index()
print(sales_by_category)

  ProductCategory   Sales
0          Bakery  155.00
1       Beverages  105.25
2          Snacks  336.45

# Q1.1: Total sales by Region

In [15]:
sales_by_region = df.groupby("Region")["Sales"].sum().reset_index()
print(sales_by_region)

  Region   Sales
0   East  245.70
1  North  185.00
2  South   75.25
3   West   90.75


# Q2: Average units sold per Region

In [17]:
avg_units_region  = df.groupby("Region")["Units"].mean().reset_index()
print(avg_units_region )

  Region     Units
0   East  3.666667
1  North  3.500000
2  South  1.500000
3   West  2.000000

# Q3: Filter transactions where Sales > 50

In [18]:
df_sales_gt_50 = df[df["Sales"] > 50]
print(df_sales_gt_50)

   CustomerID  TransactionID       Date ProductCategory   Sales  Units Region
2        1003           5003 2025-01-22          Snacks  120.50      5   East
3        1001           5004 2025-03-10          Bakery   75.00      3  North
5        1002           5006 2025-02-15          Snacks   60.75      3   West
6        1005           5007 2025-03-05          Bakery   80.00      4   East
7        1003           5008 2025-02-14          Snacks  110.00      4  North


# Q4: Top 3 customers by total sales

In [19]:
df_total_sales = df.groupby("CustomerID")["Sales"].sum().reset_index()
df_top_3_customers = df_total_sales.nlargest(3, "Sales")
print(df_top_3_customers)

   CustomerID   Sales
2        1003  230.50
0        1001  120.20
1        1002   90.75


# Q5: Pivot table: total sales by Region and ProductCategory

In [23]:
df_pivot = df.pivot_table(index="Region", columns="ProductCategory", values="Sales", aggfunc="sum")
print(df_pivot)

ProductCategory  Bakery  Beverages  Snacks
Region
East               80.0        NaN  165.70
North              75.0        NaN  110.00
South               NaN      75.25     NaN
West                NaN      30.00   60.75

In [24]:
# 3a: Extract Year and Month from Date
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
print("\nDataset with Year and Month:\n", df[['CustomerID','Date','Year','Month']])

Dataset with Year and Month:
    CustomerID       Date  Year  Month
0        1001 2025-01-15  2025      1
1        1002 2025-02-03  2025      2
2        1003 2025-01-22  2025      1
3        1001 2025-03-10  2025      3
4        1004 2025-01-30  2025      1
5        1002 2025-02-15  2025      2
6        1005 2025-03-05  2025      3
7        1003 2025-02-14  2025      2
8        1006 2025-03-15  2025      3

In [25]:
# 3b: Identify outliers in Sales using IQR
Q1 = df['Sales'].quantile(0.25)
Q3 = df['Sales'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['Sales'] < Q1 - 1.5*IQR) | (df['Sales'] > Q3 + 1.5*IQR)]
print("\nOutliers in Sales:\n", outliers)

Outliers in Sales:
 Empty DataFrame
Columns: [CustomerID, TransactionID, Date, ProductCategory, Sales, Units, Region, Year, Month]
Index: []

In [26]:
purchases = [4, 9, 1, 6, 9, 3]

In [30]:
print(type(purchases))

<class 'list'>

In [34]:
for items in purchases:
    print(f"Element:{items},Type:{type(items)}")

Element:4,Type:<class 'int'>
Element:9,Type:<class 'int'>
Element:1,Type:<class 'int'>
Element:6,Type:<class 'int'>
Element:9,Type:<class 'int'>
Element:3,Type:<class 'int'>

In [36]:
# 3. Calculate average purchase value
average_purchase = sum(purchases) / len(purchases)
print("Average Purchase Value:", average_purchase)

Average Purchase Value: 5.333333333333333

In [38]:
survey_purchases = [10, None, 15, "NA", 20, 0, -5]

Clean the data by keeping only valid positive numeric values

In [46]:
# 1. Clean the data
survey_purchases_cleaned = [
    purchase for purchase in survey_purchases
    if isinstance(purchase, (int, float)) and purchase > 0
]

print("Cleaned Survey Purchases:", survey_purchases_cleaned)

Cleaned Survey Purchases: [10, 15, 20]

In [47]:
# 2. Calculate the average
average_purchase = sum(survey_purchases_cleaned) / len(survey_purchases_cleaned)
print("Average Survey Purchase:", average_purchase)

Average Survey Purchase: 15.0

In [48]:
weekly_sales = [120, 130, 125, 140, 150, 160]

In [49]:

growth_rates = []
for i in range(1, len(weekly_sales)):
    growth = (weekly_sales[i] - weekly_sales[i-1]) / weekly_sales[i-1] * 100
    growth_rates.append(growth)

print("Week-over-week growth rates:", growth_rates)

if weekly_sales[-1] > weekly_sales[0]:
    print("Overall trend is upward")
else:
    print("No clear upward trend")

Week-over-week growth rates: [8.333333333333332, -3.8461538461538463, 12.0, 7.142857142857142, 6.666666666666667]
Overall trend is upward

In [50]:
data = [
    {"brand": "Bear Paws", "purchase": 5},
    {"brand": "Breton", "purchase": 3},
    {"brand": "Bear Paws", "purchase": 7},
    {"brand": "Whippet", "purchase": 4},
    {"brand": "Breton", "purchase": 6}
]

In [51]:
df = pd.DataFrame(data)
print(df)

       brand  purchase
0  Bear Paws         5
1     Breton         3
2  Bear Paws         7
3    Whippet         4
4     Breton         6

In [54]:
avg_purchase_brand = df.groupby("brand")["purchase"].mean().reset_index
print(avg_purchase_brand)

<bound method Series.reset_index of brand
Bear Paws    6.0
Breton       4.5
Whippet      4.0
Name: purchase, dtype: float64>

In [57]:
top_brand =  df.groupby("brand")["purchase"].mean().idxmax()
print(top_brand)

Bear Paws

In [58]:
purchases = [42, 93, 15, 67, 89, 23]

Question 1: Check Data Type

In [59]:
print(type(purchases))

<class 'list'>

In [61]:
for item in purchases:
    print(item,type(item))

42 <class 'int'>
93 <class 'int'>
15 <class 'int'>
67 <class 'int'>
89 <class 'int'>
23 <class 'int'>

Question 2: Calculate Average Purchase

In [66]:
avg_purchase = sum(purchases)/len(purchases)
print(avg_purchase)

54.833333333333336

Question 3: Clean Invalid Data

In [67]:
survey_purchases = [10, None, 15, "NA", 20, 0, -5]
cleaned = [x for x in survey_purchases if isinstance(x, (int, float)) and x > 0]
print(cleaned)

[10, 15, 20]

In [68]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [69]:
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)

In [70]:
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [71]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [73]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [74]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [75]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [76]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [77]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [78]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [82]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [83]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [84]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [85]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [86]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [87]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [88]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [89]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [90]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [91]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [92]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [94]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [95]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [96]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [97]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [98]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [99]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [100]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [101]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [104]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [105]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [106]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [107]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [108]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [109]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')