<a href="https://colab.research.google.com/github/SurekhaBerlin/NPower-Python-Practices/blob/main/Functions_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions Exercises

In [13]:
#Q1 Write Python function that takes two inputs
#and return their sum value

def sum(a,b):

  return a+b

In [15]:
sum(10,20)

30

In [7]:
#Q2 Write Python function the takes a celsius temprature
#and converts it into fahrenheit

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [8]:
celsius_to_fahrenheit(30)

86.0

In [18]:
#Q3 Write a Python function to find the Max of three numbers
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )

In [19]:
max_of_three(10,20,30)

30

In [16]:
#Q3 Write a Python function to find the Max of three numbers

def max_three(a,b,c):
  max_three = max(a,b,c)
  return max_three

In [17]:
max_three(10,20,30)

30

In [20]:
#Q4 Write a Python function to check whether a number
#is in a given range [5,12]

def test_range(n):
    if n in range(5,12):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")

In [21]:
test_range(10)

 10 is in the range

In [22]:
def range_check(num,low,high):
  if num in range(low,high):
    print(f'{num} is in the range between {low} and {high}')

In [23]:
range_check(10,5,12)

10 is in the range between 5 and 12

In [11]:
#Q5 Write a Python function that takes a list
#and returns a new list with unique elements of the first
#Sample_List : [1,2,3,3,3,3,4,5]

def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

In [25]:
#Q6 Given a list of numbers, return True if first
#and last number of a list is same
#list1=[1,2,5,4,1]
#list2=[5,6,3,2,1]
#list3=[88,44,55,66,77,88]

def first_last_same(numberList):
    if numberList[0] == numberList[-1] :
      return True
    else :
      return False

In [26]:
first_last_same([1,2,5,4,1])

True