<a href="https://colab.research.google.com/github/SurekhaBerlin/NPower-Python-Practices/blob/main/python_prractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
nums = [4, 9, 1, 6, 9, 3]

In [6]:
print(type(nums))

<class 'list'>

1. Find the second largest number in a list.

In [13]:
unique_nums = list(set(nums))
unique_nums.sort()
unique_nums[-2]

6

2. Count frequency of each element in a list.

In [15]:
from collections import Counter
Counter([1,2,2,3,3,3])

Counter({1: 1, 2: 2, 3: 3})

3. Reverse a string without using reverse functions.

In [17]:
s = 'Python'
inverse_s = s[::-1]
inverse_s

'nohtyP'

4. Remove duplicates from a list.

In [20]:
nums = [4, 9, 1, 1, 6, 9, 3]
unique_nums = list(set(nums))
unique_nums

[1, 3, 4, 6, 9]

5. Find missing number from 1 to n.

In [22]:
nums = [1,2,4,5]
n = 5

missing = sum(range(1, n+1)) - sum(nums)
print(f"The missing number is: {missing}")

The missing number is: 3

6. Write a function to check if a string is a palindrome.

In [24]:
def is_palindrome(s):
  s[::-1]

7. Convert a list of dictionaries into a DataFrame.

In [31]:
data = [{"Name":"A", "Age":23}, {"Name":"B", "Age":30}]
df = pd.DataFrame(data)
print(df)

  Name  Age
0    A   23
1    B   30

8. Group data by a column and calculate the mean.

In [ ]:
df.groupby("Department")["Salary"].mean()

9. Filter rows based on a condition.

In [ ]:
df[df["Age"] > 30]

10. Replace values in a DataFrame column.

In [ ]:
df["Gender"].replace({"M":"Male", "F":"Female"}, inplace=True)

11. Merge two DataFrames.

In [ ]:
pd.merge(df1, df2, on="id", how="inner")

12. Find correlation between columns.

In [ ]:
df.corr()

13. Write a function to find factorial.

In [ ]:
def fact():
  if n==0 : return 1
  return n * fact(n-1)

14. Convert a column to datetime format.

In [ ]:
df["date"] = pd.to_datetime(df["date"])

15. Find the number of unique values in each column.

In [ ]:
df.unique()

16. How do you handle missing values in a dataset?

· Drop missing values: df.dropna()

· Fill with a constant: df.fillna(0)

· Fill with mean/median/mode: df['col'].fillna(df['col'].mean())

· Interpolation: df.interpolate()

· Always check df.isna().sum() to see missing counts.

17. How do you detect duplicate rows and remove them?

In [ ]:
# Detect duplicates

df.duplicated()

# Remove duplicates

df.drop_duplicates(inplace=True)

18. How do you identify outliers in a dataset?

Answer:

· IQR method: Values below Q1-1.5IQR or above Q3+1.5IQR

· Z-score method: abs((x-mean)/std) > threshold

· Visualization: Boxplot, scatterplot, histogram

19. What is exploratory data analysis (EDA)?

Answer: EDA is the process of analyzing datasets to summarize main characteristics, often using visualizations and statistics.

· Identify patterns, trends, correlations

· Detect outliers and anomalies

· Understand data distributions

20. What are some common techniques and visualizations used in EDA?

Answer:

· Summary statistics: df.describe()

· Visualizations:

o Histogram → distribution

o Boxplot → detect outliers

o Scatterplot → relationships

o Heatmap → correlation between features

· Value counts: df['col'].value_counts()

· Groupby aggregations to summarize